@import "https://fonts.googleapis.com/css?family=Lily+Script+One";

:root {
  --dark-gray: #151618;
  --light-gray: #25282c;
  --off-white: #d1d3dc;
  --main-color: tomato;
  --secondary-color: sandybrown;
}

* {
  color: inherit;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background-color: var(--dark-gray);
  color: var(--off-white);
}

h1 {
  font-family: "Lily Script One";
  text-shadow: 10px 10px 10px var(--main-color);
  text-align: center;
}

h3 {
  color: var(--light-gray);
  font-family: "Lily Script One";
  text-shadow: 0 5px 10px var(--secondary-color);
  text-align: center;
  text-transform: capitalize;
}

p {
  color: var(--light-gray);
  font-family: sans-serif;
  font-size: clamp(1rem, 5vw, 1.2rem);
}

#container {
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  margin: auto;
}

#footer {
  display: fixed;
  top: 90vh;
  text-align: center;
  font-family: "Lily Script One";
  color: white;
  min-height: 5vh;
}

.card {
  background-color: var(--main-color);
  border-radius: 25%;
  box-shadow: 10px 10px 10px var(--secondary-color);
  min-width: 30ch;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.card:hover {
  cursor: pointer;
  background-color: cyan;
  transform: scale(1.5);
}
